<header class="bg-gray-800 text-white p-4 flex justify-between items-center">
    <div class="text-2xl font-bold text-pink-600 ">GETMGADAAR</div>
    <div class="flex items-center">
      <input type="text" class="bg-gray-200 rounded-lg p-2 mr-4" placeholder="Search...">
      <div class="text-sm font-semibold">User</div>
    </div>
  </header>
  
  <div class="bg-gray-100 p-4">
    <div class="flex bg-white shadow rounded-lg p-4">
      <div class="w-1/2 mr-4">
        <div class="bg-gray-100 p-4">
          <div class="grid grid-cols-3 gap-4">
            <div class="bg-white shadow rounded-lg p-4">
              <h2 class="text-2xl font-bold text-gray-800 mb-4">Strength</h2>
              <p class="text-gray-800">Warm-up, Pull-ups, Cool Down</p>
              <a routerLink="/program1" class="block mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">View More</a>
            </div>
            <div class="bg-white shadow rounded-lg p-4">
              <h2 class="text-2xl font-bold text-gray-800 mb-4">Rehabilitation</h2>
              <p class="text-gray-800">Push-ups, Squats, Stretching</p>
              <a routerLink="/program2" class="block mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">View More</a>
            </div>
            <div class="bg-white shadow rounded-lg p-4">
              <h2 class="text-2xl font-bold text-gray-800 mb-4">Weight Loss</h2>
              <p class="text-gray-800">Cardio, Yoga, Meditation</p>
              <a routerLink="/program3" class="block mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">View More</a>
           
            </div>
            <a routerLink="/moreProgram" class="block mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">More </a>
  
          </div>
        </div>
      </div>
      <div class="w-1/2">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Nutrition Information</h2>
        <ul class="list-disc list-inside text-gray-800">
          <li>Breakfast: Oatmeal with Berries and Almonds</li>
          <li>Lunch: Grilled Chicken Salad</li>
          <li>Dinner: Baked Salmon with Quinoa and Steamed Vegetables</li>
          <li>Snacks: Greek Yogurt with Honey and Nuts</li>
        </ul>
      </div>
    </div>
  </div>
  