<div class="flex justify-center items-center h-screen">
    <form class="w-full max-w-xs bg-gray-800 p-10  rounded-lg" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="mb-5 text-gray-300"><a routerLink="/auth/login"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"></mat-icon></a></div>
        <div class="text-white text-center text-base mb-5 font-serif">Create an account</div>
        <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email"/>
        </mat-form-field>
        <mat-form-field class="w-full">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username"/>
        </mat-form-field>
        <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password"/>
        </mat-form-field>
        <mat-form-field class="w-full">
        <mat-label>Confirm password</mat-label>
        <input matInput  type="password" formControlName="confirmPassword"/>
        </mat-form-field>
        <button class="w-full" mat-raised-button color="primary">Login</button>
    </form>
</div>